In [8]:
import openpyxl

In [9]:
work_book = openpyxl.load_workbook('exceljupyter/company_revenue.xlsx')

In [10]:
work_book.sheetnames

['Revenue']

In [12]:
sheet_obj = work_book['Revenue']

In [13]:
sheet_obj.title

'Revenue'

In [15]:
sheet_obj['A1']

In [16]:
sheet_obj['A1'].value

'Company'

In [18]:
cell = sheet_obj['B1']

In [19]:
type(cell)

openpyxl.cell.cell.Cell

In [20]:
dir(cell)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_bind_value',
 '_comment',
 '_hyperlink',
 '_style',
 '_value',
 'alignment',
 'base_date',
 'border',
 'check_error',
 'check_string',
 'col_idx',
 'column',
 'column_letter',
 'comment',
 'coordinate',
 'data_type',
 'encoding',
 'fill',
 'font',
 'has_style',
 'hyperlink',
 'internal_value',
 'is_date',
 'number_format',
 'offset',
 'parent',
 'pivotButton',
 'protection',
 'quotePrefix',
 'row',
 'style',
 'style_id',
 'value']

In [21]:
cell.row

1

In [22]:
cell.column

2

In [23]:
cell.number_format

'General'

In [24]:
cell.coordinate

'B1'

In [25]:
cell.data_type

's'

In [26]:
cell.value

'Country'

In [27]:
sheet_obj['A2'].value +\
', based in '+ sheet_obj['B2'].value +\
' has a revenue of $' + str(sheet_obj['C2'].value) +\
' billion'

'Walmart, based in United States has a revenue of $514 billion'

In [28]:
sheet_obj.cell(row=1, column=2)

In [29]:
sheet_obj.cell(row=1, column=2).value

'Country'

In [30]:
sheet_obj.max_row

11

In [31]:
sheet_obj.max_column

3

In [33]:
max_col = sheet_obj.max_column

In [38]:
for i in range(1, max_col + 1):
    
    cell_obj = sheet_obj.cell(row = 1, column = i)
    
    print(cell_obj.value)

Company
Country
Revenue(billion $)

In [35]:
max_row = sheet_obj.max_row

In [39]:
for i in range(1, max_row + 1):
    
    cell_obj = sheet_obj.cell(row = i, column = 1)
    
    print(cell_obj.value)

Company
Walmart
Sinopec Group
Royal Dutch Shell
China National Petroleum
State Grid
Saudi Aramco
BP
Exxon Mobil
Volkswagwen
Toyota

In [40]:
sheet_obj['A1':'C2']

((<Cell 'Revenue'.A1>, <Cell 'Revenue'.B1>, <Cell 'Revenue'.C1>),
 (<Cell 'Revenue'.A2>, <Cell 'Revenue'.B2>, <Cell 'Revenue'.C2>))

In [43]:
for rows in sheet_obj['A1':'C2']:
    
    for cell in rows:
    
        print(cell.coordinate, cell.value)
        
    
    print('----------------------')

A1 Company
B1 Country
C1 Revenue(billion $)
----------------------
A2 Walmart
B2 United States
C2 514
----------------------

In [44]:
for row in sheet_obj.iter_rows(min_row=1,
                               max_row=2,
                               min_col=1,
                               max_col=3):
    print(row)

(<Cell 'Revenue'.A1>, <Cell 'Revenue'.B1>, <Cell 'Revenue'.C1>)
(<Cell 'Revenue'.A2>, <Cell 'Revenue'.B2>, <Cell 'Revenue'.C2>)

In [47]:
for value in sheet_obj.iter_cols(min_row=1,
                                max_row=3,
                                min_col=1,
                                max_col=3,
                                values_only=True):
    print(value)

('Company', 'Walmart', 'Sinopec Group')
('Country', 'United States', 'China')
('Revenue(billion $)', 514, 415)

In [54]:
import json

In [55]:
revenues = {}

In [56]:
for row in sheet_obj.iter_rows(min_row=2,
                               max_row=4,
                               min_col=1,
                               max_col=3,
                               values_only=True):
    
    rep = row[0]
    
    rev_details = {
        
        "Country": row[1],
        "Revenue": row[2],
    }
    
    revenues[rep] = rev_details

In [57]:
print(json.dumps(revenues, indent=4, sort_keys=True))

{
    "Royal Dutch Shell": {
        "Country": "Netherlands",
        "Revenue": 397
    },
    "Sinopec Group": {
        "Country": "China",
        "Revenue": 415
    },
    "Walmart": {
        "Country": "United States",
        "Revenue": 514
    }
}